body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
   color:blue;
   text-decoration: underline;
   cursor: pointer
}

.container {
	position:relative;
	width: 960px;
	margin: auto;
}

.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

h1, h2, h3, h4, p, ul, li {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
